.foundationList{
    background: #f8f8f8;
    padding:1% 0px;
}
.foundationTitle{
    /* border:1px solid steelblue; */
    color:rgba(243,129,129,0.9);
    font-size: 20px; 
    background: #ffffff;
}
.supplyBox{
    background: #ffffff;
}
.supplyBox table td{
    font-size: 16px;
    background: #ffffff;
}
.groupButton{
    padding:2% 20%;
}
.groupButton Button{
    margin: 1px 10px;
}
.form-control{
    margin:1%;
}
.control-label{
    margin:1% 0%;
}

/*商品明細*/
.addCart{
    margin:2% 0%;
}
.panel-body label{
    font-style: normal;
    font-size: 18px;
}